body{
	
	background-color: #2E71A8;
	background: rgba(39,131,207,0.7);
	max-width: 100%;
}

h1{
	
	font-family: 'Dancing Script', cursive; 
	font-size: 90px;
	color:white;
	text-align: center;
	margin-top:10px;
	margin-bottom:-15px;

	
}

h2{
	
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:35px;
	color:white;
	text-align:center;
	
}

h3{
	
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:25px;
	color:white;
	margin-top:-15px;
	margin-left: 4px;
	
}

h4{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:35px;
	color:white;
	text-align:center;
	padding-top:15px;	
	margin-top:-1px;
	
}

#photo-1{
	
	object-fit: cover;
	object-position: 50% 42%;
	border: 15px double;
	border-color: #104F82;
	width: 300px;
	height:300px;
	margin-left:60px;
	float:left;	
	
}

#photo-2{
	
	object-fit: cover;
	object-position: 50% 42%;
	border: 15px solid;
	border-color: #104F82;
	width: 300px;
	height:550px;
	margin-left:60px;
	float:left;

	
}

#photo-3 {	
	
	object-fit: cover;
	object-position: 50% 75%;
	border: 15px double;
	border-color: #104F82;
	width: 300px;
	height:300px;
	margin-left:60px;
	
}

#photo-4 {	
	
	object-fit: cover;
	object-position: 50% 25%;
	border: 12px dashed;
	border-color: #104F82;
	width: 300px;
	height:200px;
	margin-left: 60px;
	margin-top:27px;	
	
}

#photo-5 {	
	
	object-fit: cover;
	object-position: 50% 25%;
	border: 12px dashed;
	border-color: #104F82;
	width: 300px;
	height:200px;
	margin-left: 60px;
	margin-top:-225px;
	float:left;
}

#travis-bio {
	
	border: 15px solid;
	border-color: #104F82;
	width:1075px;
	height:400px;
	margin-left:60px;
	margin-top:60px;
	background:rgb(223, 28, 54);
}

ul {list-style: none}

li::before {
  content: "\2022";
  color:white;
  display: inline-block;
  width:1.5em;
  margin-left: -1em;
  margin-bottom:-2.5em;

}